<div id="<%= dom_id cliente %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= cliente.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Telefone:</strong>
    <%= cliente.telefone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= cliente.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Endereco:</strong>
    <%= cliente.endereco %>
  </div>
</div>
